# config.yaml
# This file contains the configuration for the olsync application.

overleaf:
  # The base URL for the Overleaf API.
  # This should typically be "https://www.overleaf.com".
  baseUrl: "https://www.overleaf.com"

  # The session cookies required for authentication.
  # You can get these from your browser's developer tools after logging in.
  cookies:
    - name: "__stripe_mid"
      value: ""
    - name: "GCLB"
      value: ""
    - name: "overleaf_session2"
      value: ""
